<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ELECCIONES.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ELECCIONES.Properties.Settings>
            <setting name="CADENA" serializeAs="String">
                <value>provider=microsoft.jet.oledb.4.0;data source=ELECCIONES.mdb</value>
            </setting>
        </ELECCIONES.Properties.Settings>
    </applicationSettings>
</configuration>